.footer {
  background: white;
  color: gray;
  border-top: 1px solid gray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  bottom: 0;
  width: 100%;
}
