.profile-page {
  display: flex;
  margin: 1.5rem;
  justify-content: space-evenly;
}

.profile-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.profile-details div {
  margin: 0.5rem 0;
}

.profile-details .profile-buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1020px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
  }

  .profile-details {
    width: 100%;
  }
}
