.cart-page {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .cart-page {
    flex-direction: column-reverse;
    align-items: center;
  }

  .cart {
    margin-top: 2rem;
    width: 100%;
  }
}
